:root {
    --phone-width: 355px;
    --phone-height: 722px;
    --content-width: 320px;
    --content-height: 693px;
    --status-bar-height: 25px;
    --phone-container-width: calc(var(--phone-width) + var(--padding) * 2);
    --text-width: 310px; 
    --padding: 100px;
}

html, body {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #000;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.buttons-container {
    padding-top: 40px;
    width: var(--phone-container-width);
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.button:active {
    opacity: 0.7;
}

.button:focus {
    outline: none;
}

.button:not(:last-child) {
    margin-right: 20px;
}

#prev {
    background-image: url("assets/prev.png");
    height: 44px;
    width: 108px;
}

#restart {
    background-image: url("assets/restart.png");
    height: 45px;
    width: 123px;
}

#next {
    background-image: url("assets/next.png");
    height: 44px;
    width: 108px;
}

.phone {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--phone-width);
    height: var(--phone-height);
    background-image: url("assets/phone.png");
    background-repeat: no-repeat;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(1px - 50%), -50%);
    background-color: #E6ECFB;
    width: var(--content-width);
    height: var(--content-height);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.scroll-wrapper {
    height: calc(var(--content-height) - var(--status-bar-height));
    position: relative;
    overflow: hidden;
}

#scroll {
    z-index: 3;
    position: absolute;
    top: calc(-1 * var(--status-bar-height));
    opacity: 1;
}

#scroll-bg {
    z-index: 1;
    position: absolute;
    top: calc(-1 * var(--status-bar-height));
    opacity: 1;
}

#button {
    z-index: 4;
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, 0);
    transition: opacity ease-in-out 1s;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 12px), -50%);
    z-index: 2;
    height: var(--content-height);
}

#text {
    position: absolute;
    top: 369px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    width: var(--text-width);
    transition: opacity ease-in-out 1s;
}

#status-bar {
    height: var(--status-bar-height);
    position: relative;
    z-index: 4;
}

.phone-container {
    position: relative;
    width: var(--phone-container-width);
    height: var(--phone-height);
}
